<form>
    <div class="row">
       <div class="col-sm-4 mt-5 ">
        <input type="text" class="form-control" placeholder="Your name">
       </div>
     
       <div class="col-sm-4 mt-5 offset-sm-3">
         <input type="text" class="form-control" placeholder=" Type Your Message">
       </div>  
      
    </div>
    <!--button of form here, it should be in the container so i would easily allign-->
    <div class="container text-center">
    <button type="button" class="btn btn-outline-danger mt-5" type="submit" value="Submit">Info</button>
    </div>
    <!--button end here -->
   </form>


<!--box for from with class and design -->
   <div class="container box mt-5 border border-danger border border-3 rounded-top">
  
     

   
 
  </div>