 {% extends 'core/base.html' %}
 {% block content %}
<div class="container   border border-danger mt-5 mb-2">
    <h2 class="text-light text-center"> Contact Me </h2>

</div>
<div class="row text-center text-white mt-5 ">
  <div class="col-sm-4 mt-2 border-end border-danger  ">
    <a href="https://www.linkedin.com/in/hira-anwar-46818010b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BKpfGCSXHSRmUc9cr4jw0GQ%3D%3D">
      <i class="fab fa-linkedin fa-3x mb-3 i-color"></i>
      
    </a>
      <h4> LinkedIn </h4>
      
  </div>
  <div class="col-sm-4 mt-2  ">
  
    
      <i class="fab fa-whatsapp fa-3x mb-3 i-color"></i>
      
    </a>
      <h4> +971 50 780 2354 </h4>
      
  </div>
</div> 
<div class="row text-center text-white ">
  <div class="col-sm-4 mt-2 border-end border-danger  ">
    <a href="https://github.com/Hira-anwar19">
      
      <i class="fab fa-github fa-3x mb-3 i-color"></i>
    </a>
      <h4>  Git </h4>
      
  </div>
  <div class="col-sm-4 mt-2   ">
    <a href="https://github.com/Hira-anwar19">
   
     <i class="far fa-envelope fa-3x mb-3 i-color"></i>
    
    </a>
    <h4> hira.anwar1906@gmail.com </h4>
    
</div>
</div>
<div class="row text-center text-white">
  <div class="col-sm-4 mt-2 text-white border-end border-danger ">
    <a href="https://youtube.com/channel/UC8AXowC264EjZV5xAHM6EIg">
      
      <i class="fab fa-youtube fa-3x mb-3 i-color"></i>
    </a>
      <h3>Youtube </h3>
      
  </div>
  <div class="col-sm-4 mt-2   ">
    <a href="https://github.com/Hira-anwar19">
   
     <i class="far fa-envelope fa-3x mb-3 i-color"></i>
    
    </a>
    <h4>h33rtech@gmail.com</h4>
    
</div>
</div>
  






  





 {% endblock content %}