{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <h2 class=" col-sm-5 text-danger mt-2 border-bottom"> Work Experience </h2>
     <!-- <div class="col-sm-5" >
        <i class="fas fa-id-card-alt fa-5x i-color"></i>
      </div>-->
   </div>
    <h4 class="text-info mt-5">
        As a Web Developer <b class="text-danger">|</b> Unistar Co <b class="text-danger">|</b> Pakistan, Lahore
    </h4>
    <p class="text-light mt-2">
      
        Maintaining the website, involving the Front-end and the Back- end. Also leading and managing the team. Gathering the requirements from the client and converting
        them into SRS and SDS Documentation. Creating and maintaining the Wireframes(Adobe XD) and the
        Mockups once the requirements are clear. Maintains office services by organizing office operations and
        procedures, preparing payroll, controlling correspondence, designing filing systems, reviewing and approving supply
        requisitions, and assigning and monitoring clerical functions.
    </p>
    <!--second experience -->
    <h4 class="text-info mt-3">
        As a Web Developer <b class="text-danger">|</b> Royal Logistics Pvt Ltd <b class="text-danger">|</b> Pakistan, Lahore
    </h4>
    <p class="text-light mt-2">
      
        Maintaining
        ,Helping organize and maintain office common areas. Organizing travel by booking accommodations and reservations
        needs as required. Maintaining office equipment as needed.
    </p>
    <!--third exp-->
    <h4 class="text-info mt-3">
        As a Social Media Handler <b class="text-danger">|</b> Freelancing Project<b class="text-danger">|</b> Pakistan, Lahore
    </h4>
    <p class="text-light mt-2">
      
        Develop, implement and manage company's social media strategy. Working with copywriters and designers to ensure content is
        informative and appealing. Collaborate with Marketing, Sales and Product Development teams Monitor SEO and user engagement and suggest content optimization Communicate with industry professionals and
        influencers via social media to create a strong network
    </p>
    <!--fourth exp-->
    <h4 class="text-info mt-3">
        Software Development <b class="text-danger">|</b> Freelancing Project<b class="text-danger">|</b> Pakistan, Lahore
    </h4>

  
        <h1 class= " text-danger font-weight-bold st-font">
       I consider this project as my acheivement i created a CRM
       SYSTEM for a travel agency in pakistan.</h1>
       <p class="text-light mt-2">
       It's a friendly Customer relationship management system
       which staff members can create add passenger.<br>
      Users can create invoice and tickets. User can access and maintain data.<br> SMS alerts,Chatting system are also including in the features.<br> The very important feature is accountant dashboard they can easily
       create cashbook and approve invoices.
    </p>
    <h4 class="text-info mt-3">
        Multitask:- As an office Manager <b class="text-danger">|</b> 4Square <b class="text-danger">|</b> Pakistan, Lahore
    </h4>
    <p class="text-light mt-2">
      
        Maintains office efficiency by planning and implementing office
systems, layouts, and equipment procurement. Designs and implements office policies by establishing standards and procedures, measuring results against standards, and making
necessary adjustments.
Completes operational requirements by scheduling and assigning
employees; following up on work results. Keeps management informed by reviewing and analyzing special reports; summarizing information; identifying trends. Maintains office staff by recruiting, selecting, orienting, and training
employees. Maintains office staff job results by coaching, counseling, and disciplining employees, and planning, monitoring, and appraising job results. Typing, compiling and preparing reports, presentations and
correspondence. Managing databases and filing systems. Implementing and maintaining procedures/administrative systems.
 </p>

 <h1 class= " text-danger text-center font-weight-bold st-font">
     Thank You
 </h1>
    

</div>




{% endblock content %}